<div>
  <div class="form-group">
    <label for="name">Name</label>
    <input #name type="text" [defaultValue]="hero.name"
           class="form-control" id="name"
           required>
  </div>

  <div class="form-group">
    <label for="org">Organization</label>
    <select #org class="form-control" id="org" [selectedIndex]="hero.org">
      <option [defaultSelected]="hero.org == orgs[org]" *ngFor="let org of orgOptions">{{orgs[org]}}</option>
    </select>
  </div>
  <div>
    <label>Fav
      <input #fav type="checkbox" [defaultChecked]="hero.fav">
    </label>
  </div>
  <button  (click)="submit(name.value, org.value, fav.checked);
    name.value = clear ? '' : name.value;
    org.value = clear ? orgs.None : org.value">
    Submit
  </button>
</div>
