<!-- This displays a list of all the heroes -->
<h2>My Heroes</h2>

<div>
  <label>Hero name:
    <input #heroName/>
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <label>
    Organization:
    <select #heroOrg>
      <option *ngFor="let org of orgsOptions">{{orgs[org]}}</option>
    </select>
  </label>
  <button (click)="add(heroName.value, heroOrg.value); heroName.value=''">
    add
  </button>
</div>

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge" [ngClass]="{'favorite': hero.favorite}">{{hero.id}}</span>
      {{hero.name}}
      {{hero.organization}}
    </a>
    <button class="delete" title="Delete Hero"
            (click)="delete(hero)">x
    </button>
  </li>
</ul>
