<!-- This displays a list of all the heroes -->
<h2>My Heroes</h2>

<!-- Abstracted the form of name/organization for denoting heroes in search and addition -->
<app-hero-form  (onHeroSubmit)="add($event)"></app-hero-form>

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge" [ngClass]="{'favorite': hero.favorite}">{{hero.id}}</span>
      {{hero.name}}
      {{hero.org}}
    </a>
    <button class="delete" title="Delete Hero"
            (click)="delete(hero)">x
    </button>
  </li>
</ul>
