<!-- This displays a list of all the heroes -->
<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
  </li>
</ul>

<!-- This displays the details of the clicked hero from above only after one has been selected.
Example of injection to the property hero as well as injection of 'hero-detail' into this component-->
<app-hero-detail [hero]="selectedHero"></app-hero-detail>
